<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
</head>
<body>
<div align="center">
    REGISTRATION
</div>
<div align="center" th:if="${param.error}">
    Username exist.
</div>
<div align="center">
    <form th:action="@{/user/new}" method="post">
        <label> Username : <input type="text" name="username"/> </label><br>
        <label> Password : <input type="password" name="password"/> </label><br>
        <input type="submit" value="REGISTRATION"/>
    </form>
    <form th:action="@{/login}">
        <input type="submit" value="BACK"/>
    </form>
</div>
</body>
</html>