<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
</head>
<body>
<div align="center">

    <tr th:each="score : ${session.scores}">
        <br>
        <td th:text="${score.createOn}"></td>
        <td> :</td>
        <td th:text="${score.score}"></td>
    </tr>
</div>

<div align="center">
    <form th:action="@{/index}" method="get">
        <input type="submit" value="BACK"/>
    </form>
</div>
</body>
</html>